.watchpage {
  //   height: 100vh;
  background-color: black;
  color: white;

  .watch-page-container {
    // background-color: gray;
    height: 100vh;

    .left-right-container {
      padding: 2rem 5rem;
      display: flex;
      justify-content: space-between;
      .left-navigator,
      .right-navigator {
        padding: 0.7rem 1rem;
        background-color: #797878;
        outline: none;
        border: none;
        border-radius: 5px;
        .svg {
          color: white;
        }
      }
      .right-navigator {
        float: right;
      }
      .disabled {
        opacity: 0.5;
        background-color: red;
        cursor: not-allowed;
      }

      @media (max-width: 768px) {
        padding: 1.4rem;
        .left-navigator,
        .right-navigator {
          padding: 0.5rem;
        }
      }
    }
    .loader-container {
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .player {
      aspect-ratio: 16/9;
      margin: auto;
      height: 60vh;
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      .no-trailer {
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
      }
      .react-player {
        overflow: hidden;
        // background-color: red;
        border-radius: 10px;
      }

      @media (max-width: 768px) {
        width: 100%;
        .react-player {
          width: 100%;
        }
      }
    }
    .go-to-details {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      a {
        margin: auto;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: red;
        padding: 0.6rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.content-details {
  padding: 0rem 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: 55vh;
  //   height: 100vh;

  .left-side {
    // flex: 1;
    // border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    .sub-title {
      display: flex;
      align-items: center;
      justify-content: center;
      h6 {
        // text-align: center;
        font-size: 1.3rem;
        margin-top: 0.4rem;
      }
    }
    .overview {
      display: flex;
      justify-content: center;
      //   margin-top: 2rem;
      line-height: 1.3;
      font-size: 1rem;
      width: 80%;
      text-align: left;
    }
    .stats {
      display: flex;
      margin: 2rem 0;
      gap: 1rem;
      .rating,
      .popularity {
        display: flex;
        align-self: center;
        gap: 2px;
        padding: 0.8rem 1.5rem;
        border-radius: 5px;

        svg {
          color: white;
        }
      }

      .rating {
        background-color: rgb(38, 221, 38);
      }
      .popularity {
        background-color: yellow;
        color: black;
        svg {
          color: black;
        }
      }
    }
  }
  .right-side {
    // border: 1px solid burlywood;
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 40%;
    .image-loader {
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .movie-img-container {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }

  // @media (max-width: 768px) {
  //   padding: 1rem 1.5rem;
  // }
  @media (max-width: 768px) {
    margin-top: 10rem;
    padding: 0 1.5rem;
    // flex-direction: column-reverse;

    .left-side {
      width: 100%;
      .overview {
        // background-color: #797878;
        width: 100%;
      }
    }
    .right-side {
      width: 100%;
    }
  }
}

.similar-movies-section {
  padding: 0 10rem;
  height: 45vh;
  background-color: black;
  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
